# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Environment
.env
backend/.env

# Database
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
